[submodule "build-logic"]
	path = build-logic
	url = git@github.com:indramahkota/build-logic.git
	branch = main
[submodule "core"]
	path = core
	url = git@github.com:indramahkota/android-exploration-core.git
	branch = main
[submodule "data"]
	path = data
	url = git@github.com:indramahkota/android-exploration-data.git
	branch = main
[submodule "app/features"]
	path = app/features
	url = git@github.com:indramahkota/android-exploration-features.git
	branch = main
[submodule "design-system"]
	path = design-system
	url = git@github.com:indramahkota/mahkota-design-system.git
	branch = main
