[submodule "core"]
	path = core
	url = git@github.com:indramahkota/android-exploration-core.git
	branch = main

[submodule "data"]
	path = data
	url = git@github.com:indramahkota/android-exploration-data.git
	branch = main

[submodule "feature"]
	path = feature
	url = git@github.com:indramahkota/android-exploration-feature.git
	branch = main
